body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background: var(--primary-color);
}
:root {
  --primary-color: #01a9e0;
  --secondary-color: #000;
  --tertiary-color: #fff;
}
.spikes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  background: var(--tertiary-color);
  height: 87vh;
  gap: 20px;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 105px;
  background-size: 105px 100%;
  background-image: linear-gradient(
      135deg,
      var(--tertiary-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--tertiary-color) 25%, transparent 25%);
  background-position: 0 0;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.productcard {
  border: 3px solid;
  width: 20%;
  height: 250px;
  background: var(--primary-color);
}

.yoco-logo {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
}

.footer{
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 10px;
}

.checkout-icon{
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  width: 3%;
  height: 5%;
}
/* 
.select{
  color: var(--secondary-color);
  background: none;
  border: none;
  position: fixed;
} */

.addbtn{
  position: fixed;
  left: 0;
  margin: 10px;
}