body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
:root {
  --primary-color: #01a9e0;
  --secondary-color: #000;
  --tertiary-color: #fff;
}

.spikes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  background: var(--primary-color);
  height: 75vh;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 105px;
  background-size: 105px 100%;
  background-image: linear-gradient(
      135deg,
      var(--primary-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--primary-color) 25%, transparent 25%);
  background-position: 0 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form-container input {
  border: 2px solid var(--secondary-color);
  height: 30px;
  width: 175%;
  outline: none;
}

.send {
  border: none;
  background: none;
  font-size: 100%;
  margin: 1%;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
}

.send:hover {
  color: var(--tertiary-color);
}

.yocologo{
    width: 200px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}