body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: var(--primary-color);
}
:root {
  --primary-color: #01a9e0;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --fade-color: rgba(6, 114, 168, 0.6);
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--fade-color);
}

.wholepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about {
  margin-top: 6%;
  text-align: center;
  display: flex;
  padding: 2%;
  border: 2px solid var(--secondary-color);
  font-size: 125%;
  width: 50%;
  background-color: var(--tertiary-color);
  gap: 30px;
}

.yocomachine{
  width: 50%;
  height: 50%;
}

#productsection {
  margin-top: 3%;
  display: flex;
  border: 2px solid var(--secondary-color);
  text-align: center;
  flex-direction: column;
  padding: 2%;
  width: 50%;
  background-color: var(--tertiary-color);
  margin-bottom: 2%;
  gap: 10px;
}

.product-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

#productcard {
  border: 3px solid;
  width: 32%;
  height: 350px;
  font-size: 90%;
  text-align: center;
}

.productimg {
  width: 125px;
  height: 100px;
}

.yoco-logo {
  width: 200px;
  height: 100px;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  background: var(--fade-color);
  width: 100%;
  margin: 0;
}

.checkout-icon {
  margin: 20px;
  width: 3%;
  height: 5%;
}
/* 
.select{
  color: var(--secondary-color);
  background: none;
  border: none;
  position: fixed;
} */

.addbtn {
  background: none;
  border: none;
  width: 20px;
}

.product-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  gap: 10px;
}

#search {
  text-align: center;
  width: 25%;
}

.sectionbtn {
  display: flex;
  gap: 50px;
}

.sectionbtn a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 150%;
  transition: 0.3s ease-in-out;
}

.sectionbtn a:hover {
  color: var(--primary-color);
}

.user-and-cart {
  display: flex;
  gap: 40px;
  margin-right: 30px;
}

.user-and-cart a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 150%;
}

.imgholder{
  display: none;
}